.h1-backlog {
  text-align: center;
  font-variant: small-caps;
  color: white;
  margin-bottom: -10px;
}

/* Styles for the sticky header */
.sticky-h1 {
  position: sticky;
  top: 0;
  background-color: #191c28; /* Replace this with the background color you want for the sticky header */
  z-index: 100; /* Ensure the header is above other content */

  /* Adjust the height and margin to make the sticky header taller */
  height: 40px; /* Change the height to your desired value */
  margin: 0;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  margin-top: -10px;
  position: absolute;
  text-align: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  height: 600px;
  padding: 10px;
  background-color: #191c28;
  color: white;
  overflow: auto;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.warning-message {
  font-weight: bold;
  font-size: 20px;
  z-index: 200;
}

.sticky-header {
  h1 {
    position: sticky;
    top: 0;
  }
}

.button-backlog-album {
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif, bold;
  border-radius: 6px;
  border: none;
  margin-left: auto;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  transition: background-color 0.3s ease; /* Add smooth transition effect */

  -webkit-text-stroke: 0.1px black;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background: #65c5d7;
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-backlog-clear {
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif, bold;
  border-radius: 6px;
  border: none;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  transition: background-color 0.3s ease; /* Add smooth transition effect */

  -webkit-text-stroke: 0.1px black;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background: #ff6961;
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-backlog-cancel {
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif, bold;
  border-radius: 6px;
  border: none;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  transition: background-color 0.3s ease; /* Add smooth transition effect */

  -webkit-text-stroke: 0.1px black;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background: #65c5d7;
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-backlog-album:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.button-backlog-clear:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.button-backlog-cancel:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.button-backlog-album:hover {
  background-color: #4d97a5;
}

.button-backlog-clear:hover {
  background-color: #cc544d;
}

.button-backlog-cancel:hover {
  background-color: #4d97a5;
}

.input-search {
  padding: 6px 10px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  background-color: #191c28;
  outline: none;
  height: 15px;
  font-size: 12px;
}

a:link {
  color: white;
  height: 100%;
  width: 50%;
  display: flex;
}

a:visited {
  color: white;
}

/* Updated styles for column headers */
.column-headers ul {
  font-size: 11.7px;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 0px;
}

.column-headers li {
  flex: 1;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  border: 2px solid #ddd;
  border-left: none;
  user-select: none;
  -webkit-user-select: none;
  background-color: #65c5d7;
  color: white;
  font-weight: bold;
  border-radius: 0;
  transition: background-color 0.3s ease;
  font-size: 90%; /* Set the font size to 75% of the original size */
}

.column-headers li:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 2px solid #ddd;
}

.column-headers li:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.column-headers li:hover {
  background-color: #4d97a5;
}

/* Additional styles for the Recently Added header */
.column-headers li.recentlyAdded {
  background-color: #65c5d7;
  border: 2px solid #ddd;
}

.column-headers li.recentlyAdded:hover {
  background-color: #4d97a5;
}

.column-headers li.recentlyAdded span {
  margin-left: 4px;
}

/* Updated styles for URL list items */
nav ul {
  overflow-y: scroll;
  list-style-type: none; /* Remove bullet point from the list items */
  padding: 0; /* Remove default padding for <ul> element */
}

nav ul li {
  display: flex box; /* Use flexbox to center the content */
  align-items: center; /* Center the content vertically */
  padding: 8px;
  background-color: #14171f;
  border: 1px solid #ddd;
  margin-bottom: 4px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

nav ul li:hover {
  background-color: #2c303d; /* Change background color on hover */
}

/* Column headers are affected by this as well */
nav li {
  display: flex; /* Display list items in a flex container */
  align-items: center; /* Center contents vertically */
  align-text: center;
  justify-content: space-between; /* Spread contents evenly in the available space */
  padding: 8px;
  background-color: #191c28;
  border: 1px solid #ddd;
  margin-bottom: 4px;
  border-radius: 6px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-align: center; /* Center the text within the link */
  display: block; /* Use block display to ensure text centering */
  width: 100%; /* Force the link to take the full width of its container */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  padding-right: 3px;
}

nav li a {
  color: #000;
  text-decoration: none;
}

nav li button {
  background-color: #ff6961;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  margin-left: 8px; /* Add some space between the buttons */
}

.paddedSpan {
  text-align: left;
  padding: 4px;
  display: block;
  overflow-wrap: anywhere;
}

.italicsSpan {
  font-style: italic;
}

.tallGenre {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  justify-content: left;
  align-items: left;
  display: block;
}

.removeTextDecoration {
  font-weight: normal;
}
